/Frames_*/
/cache_*/
/inc_*/
color/
inc/
orange/
entry.ogg
*.mp4
*.png
*.wav
events_*.inc
.idea/
__pycache__/
FromYouTube/
soundtrack/
spice
venv/
*-????.kdenlive
*_backup?.kdenlive

*.aiff
*.wav
*.mp4

