wheel
pytz
spiceypy
matplotlib
-e git+ssh://git@github.com/kwan3217/picturebox.git#egg=picturebox
-e git+ssh://git@github.com/kwan3217/kwanspice.git#egg=kwanspice
-e git+ssh://git@github.com/kwan3217/kwanmath.git#egg=kwanmath

