wheel
pytz
scipy
spiceypy
matplotlib
-e git+https://github.com/kwan3217/picturebox.git#egg=picturebox
-e git+https://github.com/kwan3217/kwanspice.git#egg=kwanspice
-e git+https://github.com/kwan3217/kwanmath.git#egg=kwanmath

